/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	a.brand{padding:0;}

	.siteFooter .communicate{
		h4:first-child{display:block; float:none;}

		#social a {
			float:left;
		}
		#social a#socTwit{
			margin-left:0;
		}
	}



	.home-quote{
	    background-position: right 0px;
		h1{
			font-size       : 31px;
			line-height     : 33px; 
			margin-top      : 0;
			margin-bottom   : 0;	
		}
		p{
			font-size       : 13px;
			margin-bottom   : 0;
			padding-bottom  : 10px;
		}

		input[type="text"] {
		width:260px;
		background: #e6e6e6;
		border: 0;
		color: #696d6f;
		font-size: 15px;
		padding: 6px 13px 6px 13px;
		border: 1px solid #a1a2a2;
		display:block;
		margin-bottom:10px;
		}
	}

	.home-boxes{
		h2{
			font-size: 24px;
			line-height: 22px;
		}
	}
}